.input{
    input{
        border-radius: .25rem;
        border-color: #000000;
        width: 95%;
        height: 3.5vh;
        background-color: rgb(245, 245, 245);
        color: #000000;
        margin-bottom: 1rem;
        font-size: medium;
        font-weight: bold;
        padding: .75rem ;
    }
}