.dash {
  background-color: #e8eaee;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 95%;
  width: 94%;
  right: 0.5vw;
  top: 2.75%;
  border-radius: 50px;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;

  .head {
    background-color: #222a44;
    width: 25%;
    height: auto;
    border-radius: 0 0 3rem 3rem;
    padding: 1rem;
    padding-bottom: 0;
    display: grid;
    justify-content: center;
    position: absolute;
    top: -1rem;
    transition: 0.2s;
    .saldo {
      margin: 1rem;
      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
  
  .buttons {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 40%;
    :hover {
      background-color: #222e65;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      border: #222a4418 solid 1px;
      border-radius: 0.5rem;
      color: #ffffff;
      width: 75%;
      height: 100%;
      font-size: 1rem;
      transition: 0.3s;
    }
  }
  .Bar{
    display: grid;
    height: 100%;
    width: 100%;
  }
  .ButtonGroup {
    display: flex;
    justify-content: space-evenly;
    height: 15%;
    width: 100%;
    transition: 0.3s;
    :hover {
      background-color: #222a442c;
    }
    .buttonClient {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: space-between;
      border: #222a4418 solid 1px;
      border-radius: 2rem .5rem .5rem 2rem;
      color: #222a44;
      font-size: 1rem;
      width: 17.5%;
      height: 75%;
      transition: 0.3s;
      :hover {
        background-color: #00000000;
      }
      .content{
        width: 60%;
        strong{
          text-align: start;
        }
      }
      .image {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #222e65;
        border-radius: 10rem;
        height: 100%;
        width: 4rem;
      }
    }
  }
}
@media (max-width: 720px) {
  .dash {
    font-size: small;
    background-color: #e8eaee;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 7.5%;
    border-radius: 1rem 1rem 0 0;
    justify-content: center;
    align-items: center;
    padding: 2.5%;
    padding-bottom: 15%;
    .head {
      background-color: #222a44;
      width: 75%;
      height: auto;
      border-radius: 1rem;
      padding: 1.5rem;
      padding-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .saldo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;

        :first-child {
          display: flex;
          gap: 1rem;
        }
      }
    }
    .ButtonGroup {
      display: flex;
      margin-bottom: .25rem;
      gap: .25rem;
      flex-direction: column;
      height: auto;
      width: 100%;
      transition: 0.3s;
      cursor: pointer;
      :hover {
        background-color: #222a442c;
      }
      .buttonClient {
        cursor: pointer;
        display: flex;
        align-items: center;
        border: #222a4418 solid 1px;
        color: #222a44;
        margin-right: 1rem;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        :hover {
          background-color: #00000000;
        }
      }
    }
  }
}
.extrato {
  margin: 0;
  padding: 0;
  height: 50vh;
  color: #e8eaee;
  background-color: #222a44;
  .list {
    margin: 0;
    padding: 0;
    width: 90%;
    h1 {
      margin-bottom: 1rem;
    }
  }
  .list::-webkit-scrollbar {
    width: 0px;
  }
}
.extrato::-webkit-scrollbar {
  width: 0px;
}
