.list {
  background-color: #ffffff;
  color: black;
  border-radius: 1rem;
  width: 110%;
  height: 110%;
  overflow: auto;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  table {
    width: 100%;
    tr {
      td {
        padding: 0.5rem;
        padding-bottom: 1rem;

      }
    }
  }
  .search {
    width: 100%;
    margin-bottom: 1rem;
  }
  .table {
    border-bottom: solid 1px #000;
    height: auto;
  }
}
.list::-webkit-scrollbar {
  width: 0px;
}
@media screen and (max-width: 720px) {
  .list {
    background-color: #ffffff;
    color: black;
    border-radius: 1rem;
    width: 95vw;
    height: auto;
    overflow: auto;
    padding: 1rem;
    table {
      width: 100%;
      td {
        padding: 0.5rem;
      }
    }
    .search {
      width: 100%;
      padding-left: 5%;
    }
  }
  .list::-webkit-scrollbar {
    width: 0px;
  }
}
