
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
.dash{
  background-color: #e8eaee;
  display: flex;
  position: absolute;
  height: 95vh;
  width: 94vw;
  right: .5vw;
  top: 1.25rem;
  border-radius: 50px;
}
@media (max-width: 720px) {
  .dash{
    margin-top: 5vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
    background-color: #e8eaee;
    width: auto;
    height: auto;
    border-radius: 2rem 2rem 0 0;
  }
}